body {
  background: #ffffff;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.page {
  padding: 0 10rem 0 10rem;
}

* {
  color: black;
}
.dropZone {
  position: relative;
  left: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 60vh;
  border: 3px dashed #0000008a;
  background: rgba(217, 217, 217, 0);
  padding: 20px;
  flex-shrink: 0;
  transition: border 0.3s;
  &:hover {
    border: 3px dashed #35a68d; /* Change background color on hover */
    /* color: #fff; /* Change text color on hover */
  }
}

p {
  /* color: #FFF; */
  text-align: center;
  font-family: Inter;
  font-size: 1.3vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h1 {
  position: relative;
  left: 1vw;
  top: 2vw;
  /* color: #FFF; */
  font-family: Inter;
  font-size: 2vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 302px;
  height: 62px;
  flex-shrink: 0;
}

h2 {
  position: relative;
  left: 1vw;
  font-family: Inter;
  font-size: 1.2vw;
  /* color: #FFF; */
}

.uploadButton {
  width: 15vw;
  height: 4vw;
  flex-shrink: 0;
  fill: #fff;
  border: none;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 10px;
  font-size: 1.6vw;
  color: #000;
  background-color: #77fbaf;

  &:hover {
    background-color: #35a68d; /* Change background color on hover */
    /* color: #fff; Change text color on hover */
  }
}

.smallButton {
  width: 5vw;
  height: 2vw;
  flex-shrink: 0;
  fill: #fff;
  border: none;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 5px;
  font-size: 1vw;
  color: #000;

  &:hover {
    background-color: #35a68d; /* Change background color on hover */
    color: #fff; /* Change text color on hover */
  }
}

@font-face {
  font-family: "Inter";
  src: url("Fonts/Inter.ttf") format("truetype");
  /* Add other font properties if needed */
}

.flex-container {
  display: flex;
  justify-content: space-between; /* Adjust as needed */
}

.flex-left {
  flex: 1;
  flex-wrap: nowrap;
  padding-right: 2%;
  border: 0px;
  max-width: 1200px; /* Max container width */
  margin: 0 auto; /* Center the container */
}

.flex-right {
  flex: 1; /* Allows items to grow equally */
  padding-left: 5%;
  border: 0px;
  /* border: 1px solid #ccc; Example border */
}

@media (min-width: 768px) {
  .flex-left,
  .flex-right {
    padding: 0 20px; /* Add padding on larger screens */
  }
}

.justified {
  text-align: left;
  margin-left: 10vw;
  font-size: 1.3vw;
  padding-right: 10%;
  margin-top: 1vw;
}

.textButton {
  background-color: transparent; /* Makes the background transparent */
  border: none; /* Removes the border */
  color: #000000; /* Sets the initial color of the button text */
  text-decoration: underline; /* Underlines the text */
  font-size: 1.3vw;
  cursor: pointer; /* Changes the cursor to signify it's clickable */
  transition: color 0.3s; /* Smooth color transition for hover effect */
  padding-top: 15px;
  margin-left: 9.5vw;

  &:hover {
    color: #35a68d; /* Change text color on hover */
  }
}
