/* Temporary */

.page h2 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.MatrixNL-container {
    display: flex;
    justify-content: center;
}

.MatrixNL-container svg, .MatrixNL-container div {
    margin: auto;
    margin-bottom: 20px;
}

